.header {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    padding: 5rem;
    z-index: 300;
    background-color: #f4f0ea;

    .bar {
        position: relative;
        display: flex;
        justify-content: end;
        align-items: center;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 400;
        z-index: 300;
        padding-top:25px ;
        padding-bottom: 25px;
        cursor: pointer;
    }

    .bar p {
        margin: 0px;
    }

    .bar a {
        text-decoration: none;
        color: white;
        position: absolute;
        left: 0;
    }

    .el {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        cursor: pointer;
        height: 60px;
        width: 60px;
        border-radius: .2rem;
    }

    .label {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
    }

    .label p:nth-of-type(2) {
        position: absolute;
    }

    .label p:nth-of-type(2) {
        opacity: 0;
    }

    .shop {
        display: none;
    }

    .burger {
        width: 35px;
        position: relative;
        pointer-events: none;
        margin: 10px;
        margin-bottom: 10px;
    }

    .burger::after,
    .burger::before {
        content: "";
        height: 1px;
        width: 100%;
        background-color: white;
        position: relative;
        display: block;
        transition: all 1s cubic-bezier(0.76, 0, 0.24, 1);
    }

    .burger::after {
        top: -3px;
    }

    .burger::before {
        top: 3px;
    }

    .burgerActive::after {
        transform: rotate(45deg);
        top: -1px;
        background-color: black;
    }

    .burgerActive::before {
        transform: rotate(-45deg);
        top: 1px;
        background-color: black;
    }

    .body {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        z-index: 301;

    }

    .body a {
        color: black;
        text-decoration: none;
        text-transform: uppercase;
    }

    .body p {
        margin: 0px;
        display: flex;
        overflow: hidden;
        font-size: 32px;
        padding-right: 30px;
        padding-top: 10px;
        font-weight: 300;
    }
}

@media only screen and (min-width: 600px) {
    .header {
        padding: 20px;
    }

    .body {
        max-width: 1200px;
        margin-top: 80px;
    }

    .body p {
        font-size: 5vw;
        padding-right: 2vw;

    }

    .wrapper {
        margin-bottom: 0px;
        justify-content: space-between;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .imageContainer {

        display: none;

    }

    @media only screen and (min-width:1000px) {

        .wrapper {
            margin-bottom: 0px;
            justify-content: space-between;
        }

        .body {
            max-width: 1200px;
            margin-top: 80px;
        }

        .body p {
            font-size: 5vw;
            padding-right: 2vw;
        }

        .imageContainer {
            display: block;
            width: 500px;
            height: 350px;
            position: relative;
        }

        .imageContainer img {
            object-fit: cover;
        }

        .imageContainer {
            display: block;
            width: 500px;
            height: 350px;
            position: relative;
        }

        .imageContainer img {
            object-fit: cover;

        }

        .background {
            background-color: black;
            opacity: 0.5;
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 100%;
        }
    }
}